@import 'bootstrap';

*{
  margin:0;
  padding:0;
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
  color: #333;
}

p, ol, ul, td, .centreToi {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right:300px;
  margin-left:300px; }


  header h1{
    font-size:60px;
    color:#fafafa;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    text-align:center;
    background-color:#343889;
    padding:40px;
    margin: 0;
  }

tbody{
    display:flex;
    flex-wrap:wrap;
    //align-items:space-between;
}

.grandediv{
 display:flex;
}


.field{
  font-size: 15px;
  color:#343889;
  // margin:0 auto;
  width: 520px;
margin-left: 40px;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #343889;}

th {
  padding-bottom: 5px; }

//.centreToi{
 //align-items: center;}

td {
  padding: 0 5px 7px; }

img{
  width:173px;
  height:173px;
  margin: 39px;
  border-radius: 30px;
}

.imgshow{
  width:565px;
  height:565px;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
