<!DOCTYPE html>
<html>
  <head>
    <title>Aerialtricks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">

  </head>

  <header>
    <h1>AERIAL TRICKS</h1>
  </header>

  <!--<body>
    <%= yield %>
  </body>-->

</html>
